@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}
.ellipse_20{
  position: absolute;
left: 30.14%;
right: 20.34%;
top: 35.78%;
bottom: 71.64%;
}
@media screen and (max-width:375px){
  .ellipse_20{
    position: absolute;
width: 15.3px;
height: 15.3px;
left: 25.61px;
top: 28.10px;
  }
}
.ellipse_21{
  position: absolute;
left: 69.14%;
right: 59.34%;
top: 38.78%;
bottom: 72.38%;
}
@media screen and (max-width:375px){
  .ellipse_21{
    position: absolute;
width: 9.1px;
height: 9.1px;
left: 50.9px;
top: 31.71px;
  }
}
.subtracthead{
  position: absolute;
width: 29.49px;
height: 34.52px;
/* left: 120px;
top: 33px; */
}
.ellipse_20head{
  position: absolute;
width: 11.3px;
height: 11.3px;
left: 10.61px;
top: 11.61px;

}
.ellipse_21head{
  position: absolute;
width: 9.1px;
height: 9.1px;
left: 22.9px;
top: 12.71px;
}
.chocolatetext{
  position: absolute;
width: 250px;
height: 23px;
right: 580px;
top: 219px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
color: #9A9EA3;
}
@media screen and (max-width:768px){
  .chocolatetext{
    position: absolute;
width: 280px;
height: 23px;
left: 244px;
top: 157px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
color: #9A9EA3;
  }
}
@media screen and (max-width:375px){
  .chocolatetext{
    position: absolute;
width: 243px;
height: 27px;
right: 95px;
left: 38px;
top: 200px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 27px;
  }
}

.roadmaphead{
  position: static;
width: 111px;
height: 27px;
left: 368px;
top: 0px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
flex: none;
order: 3;
align-self: center;
flex-grow: 0;
margin-left: 48px;
}
@media screen and (max-width:768px){
  .roadmaphead{
    position: static;
width: 75px;
height: 20px;
left: 217px;
top: 5px;
padding: 5px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
flex: none;
order: 3;
flex-grow: 0;
margin-left: 24px;
  }
}
.NFTshead{
  position: static;
width: 56px;
height: 27px;
left: 264px;
top: 0px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
flex: none;
order: 2;
align-self: center;
flex-grow: 0;
margin-left: 48px;
}
@media screen and (max-width:768px){
  .NFTshead{
    position: static;
width: 35px;
height: 20px;
left: 158px;
top: 5px;
padding: 5px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
flex: none;
order: 2;
flex-grow: 0;
margin-left: 24px;
  }
}
.uniswaphead{
  position: static;
width: 99px;
height: 27px;
left: 117px;
top: 0px;

/* Desktop / btn-2 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / White */

color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 1;
align-self: center;
flex-grow: 0;
margin-left: 48px;
}
@media screen and (max-width:768px){
  .uniswaphead{
    position: static;
width: 65px;
height: 20px;
left: 69px;
top: 5px;
padding: 5px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
margin-left: 24px;
  }
}
.tokenlink{
  height:27px;
}
.tokenhead{
  position: static;
width: 69px;
height: 27px;
left: 0px;

/* Desktop / btn-2 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin-left: 0px;
}
@media screen and (max-width:768px){
  .tokenhead{
    position: static;
width: 45px;
height: 20px;
left: 0px;
top: 0px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
  }
}
.mediumhead{
  position: absolute;
left: 80%;
right: -0.01%;
top: 12.69%;
bottom: 12.33%;
}
.twitterhead{
  position: absolute;
left: 40%;
right: 4.17%;
top: 11.01%;
bottom: 10.99%;
}
.telegramhead{
  position: absolute;
left: 4.17%;
right: 4.17%;
top: 8.14%;
bottom: 8.13%;
}
.financehead{
  position: absolute;
width: 548px;
height: 171px;
left: 446px;
top: 230px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 140px;
line-height: 171px;
text-align: center;
letter-spacing: -0.04em;
background-image: linear-gradient(91.9deg, #5443FB -1.61%, #42CAF3 47.15%, #A4FBCE 99.23%);
background-clip: text;
-webkit-text-fill-color: transparent; 
}
@media screen and (max-width:768px){
  .financehead{
    position: absolute;
width: 438px;
height: 151px;
left: 165px;
top: 280px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 112px;
line-height: 135%;
text-align: center;
letter-spacing: -0.04em;
  }
}
@media screen and (max-width:375px){
  .financehead{
    position: absolute;
width: 243px;
height: 84px;
left: 68px;
top: 274px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 62px;
line-height: 135%;
text-align: center;
letter-spacing: -0.04em;
  }
}
.chocolatehead{
  position: absolute;
width: 697px;
height: 171px;
left: 372px;
top: 100px;

/* Desktop / H1 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 140px;
line-height: 171px;
/* identical to box height */

text-align: center;
letter-spacing: -0.04em;

/* gradient */

background-image: linear-gradient(90deg, #F75F80 0%, #DD6696 18.28%, #9D78CD 37.69%, #877EDF 63.41%, #6D85F6 91.07%);
background-clip: text;
-webkit-text-fill-color: transparent; 
}
@media screen and (max-width:768px){
  .chocolatehead{
    position: absolute;
width: 557px;
height: 151px;
left: 106px;
top: 150px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 112px;
line-height: 135%;
text-align: center;
letter-spacing: -0.04em;
  }
}
@media screen and (max-width:375px){
  .chocolatehead{
    position: absolute;
width: 309px;
height: 84px;
left: 35px;
top: 200px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 62px;
line-height: 135%;
text-align: center;
letter-spacing: -0.04em;
  }
}
.chocdischead{
  position: absolute;
width: 600px;
height: 74px;
left: 420px;
top: 490px;

/* Desktop / P1 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
/* or 154% */

text-align: center;

/* Main / Gray */

color: #9A9EA3;
}
@media screen and (max-width:768px){
  .chocdischead{
    position: absolute;
width: 557px;
height: 74px;
left: 106px;
top: 520px;

/* Tablet / P1 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 37px;
/* or 176% */

text-align: center;
  }
}
@media screen and (max-width:375px){
  .chocdischead{
    position: absolute;
width: 305px;
height: 75px;
left: 33px;
top: 444px;

/* Mobile / P1 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
  }
}

.fireunit{
  position: static;
width: 31px;
height: 31px;
left: 232px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 1;
align-self: center;
flex-grow: 0;
margin: 20px 0px;
}

.aboutchoc{
  position: static;
  width: 212px;
  height: 29px;
  left: 0px;
  top: 1px;
  
  /* Desktop / btn */
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  
  /* Main / White */
  
  color: #FFFFFF;
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 20px 0px;
}
.ellipseunit{
  position: absolute;
width: 39px;
height: 39px;
left: 1000px;
top: 80px;
}
@media screen and (max-width:768px){
  .ellipseunit{
    left: 580px;
top: 150px;
  }
}
@media screen and (max-width:375px){
  .ellipseunit{
    position: absolute;
width: 39px;
height: 39px;
left: 260px;
top: 210px;

  }
}
.ellipse1{
  position: absolute;
width: 39px;
height: 39px;
left: 650px;
top: 90px;
}
@media screen and (max-width:768px){
  .ellipse1{
    left: 60px;
top: 500px;
  }
}
.ellipse2{
  position: absolute;
width: 84px;
height: 84px;
left: 220px;
top: 150px;
}
@media screen and (max-width:768px){
  .ellipse2{
    left: 220px;
top: 60px;
  }
}
@media screen and (max-width:768px){
  .ellipse2{
    position: absolute;
width: 39px;
height: 39px;
left: 10px;
top: 390px;
  }
}
.ellipse3{
  position: absolute;
width: 39px;
height: 39px;
left: 65px;
top: 250px;
}
.ellipse4{
  position: absolute;
width: 66px;
height: 66px;
left: 1162px;
top: 270px;
}
@media screen and (max-width:768px){
  .ellipse4{
    left: 350px;
top: 340px;
  }
}
@media screen and (max-width:375px){
  .ellipse4{
    position: absolute;
width: 66px;
height: 66px;
left: 20px;
top: 30px;
  }
  .ellipse4ham{
    position: absolute;
width: 66px;
height: 66px;
left: 50px;
top: 130px;
  }
}
.ellipse5{
  position: absolute;
width: 66px;
height: 66px;
left: 301px;
top: 400px;
}
@media screen and (max-width:768px){
  .ellipse5{
    left: 70px;
top: 680px;

  }
}
@media screen and (max-width:375px){
  .ellipse5{
    position: absolute;
width: 66px;
height: 66px;
left: 15px;
top: 560px;
  }
}
.ellipse6{
  position: absolute;
width: 47px;
height: 47px;
left: 1330px;
top: 404px;
}
@media screen and (max-width:768px){
  .ellipse6{
    left: 550px;
top: 700px;
  }
}
@media screen and (max-width:768px){
  .ellipse6{
    display: none;
  }
}

#circles{
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}
.circle7{
  width: 140px;
  height: 140px;
}
.circles:hover{
  transform: scale(1.5);
  transform: color(#B68DE8);
}
#circle{
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}
#circle:hover  #arc_7{
  display: block;
}
/* img:hover{
  background-color: #6D85F6;
} */

#arc_7{
  position: absolute;
  width: 120px;
  height: 55px;
  left: 90px;
  top: -49px;
  /* display: none; */
  background: url(../../chocolate_finance/src/Assets/arc7.png);
  transform: rotate(5deg);
}
.shadow7{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: -49px;
  /* display: none; */
  background: url(../../chocolate_finance/src/Assets/7shadow.png);
  transform: rotate(5deg);
}
.arc6{
  position: absolute;
  width: 120px;
  height: 102px;
  left: 177px;
  top: -10px;
  /* display: none; */
  background: url(../../chocolate_finance/src/Assets/arc6.png);
  transform: rotate(-6deg);
}
.arc5{
  position: absolute;
  width: 150px;
  height: 135px;
  left: 195px;
  top: 110px;
  /* display: none; */
  background: url(../../chocolate_finance/src/Assets/arc5.png);
  transform: rotate(-2.5deg);
}
.arc4{
  position: absolute;
  width: 120px;
  height: 130px;
  left: 100px;
  top: 195px;
  /* display: none; */
  background: url(../../chocolate_finance/src/Assets/arc4.png);
  transform: rotate(7deg);
}
.arc3{
  position: absolute;
  width: 120px;
  height: 115px;
  left: -23px;
  top: 180px;
  /* display: none; */
  background: url(../../chocolate_finance/src/Assets/arc3.png);
  transform: rotate(-13deg);
}
.arc2{
  position: absolute;
  width: 120px;
  height: 120px;
  left: -80px;
  top: 49px;
  /* display: none; */
  background: url(../../chocolate_finance/src/Assets/arc2.png);
  transform: rotate(2deg);
}
.arc1{
  position: absolute;
  width: 120px;
  height: 102px;
  left: -20px;
  top: -35px;
  /* display: none; */
  background: url(../../chocolate_finance/src/Assets/arc1.png);
  transform: rotate(12deg);
}
.lilacquant{
  position: absolute;
width: 113px;
height: 37px;
left: 120px;
top: 53px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
/* identical to box height, or 154% */


/* Main / White */

color: #FFFFFF;
}
.lilacname{
  position: absolute;
width: 39px;
height: 27px;
left: 120px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / Gray */

color: #9A9EA3;
}
.pinkquant{
  position: absolute;
width: 150px;
height: 37px;
left: 120px;
top: 53px;

/* Desktop / P1 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
/* identical to box height, or 154% */


/* Main / White */

color: #FFFFFF;
}
.pinkname{
  position: absolute;
width: 155px;
height: 27px;
left: 120px;
top: 23px;

/* Desktop / btn-2 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / Gray */

color: #9A9EA3;
}
.redquant{
  position: absolute;
width: 122px;
height: 37px;
left: 120px;
top: 53px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
/* identical to box height, or 154% */


/* Main / White */

color: #FFFFFF;
}
.redname{
  position: absolute;
width: 117px;
height: 27px;
left: 120px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / Gray */

color: #9A9EA3;
}
.yellowquant{
  position: absolute;
width: 122px;
height: 37px;
left: 120px;
top: 53px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
/* identical to box height, or 154% */


/* Main / White */

color: #FFFFFF;
}
.yellowname{
  position: absolute;
width: 62px;
height: 27px;
left: 120px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / Gray */

color: #9A9EA3;
}
.purplequant{
  position: absolute;
width: 174px;
height: 37px;
left: 120px;
top: 53px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
/* identical to box height, or 154% */


/* Main / White */

color: #FFFFFF;
}
.purplename{
  position: absolute;
width: 100px;
height: 27px;
left: 120px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / Gray */

color: #9A9EA3;
}
.cyanquant{
  position: absolute;
width: 141px;
height: 37px;
left: 120px;
top: 53px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
/* identical to box height, or 154% */


/* Main / White */

color: #FFFFFF;
}
.cyanname{
  position: absolute;
width: 84px;
height: 27px;
left: 120px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / Gray */

color: #9A9EA3;
}
.bluequant{
  position: absolute;
width: 173px;
height: 37px;
left: 120px;
top: 53px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
/* identical to box height, or 154% */


/* Main / White */

color: #FFFFFF;
}
.bluename{
  position: absolute;
width: 97px;
height: 27px;
left: 120px;
top: 23px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / Gray */

color: #9A9EA3;
}
.vector{
  position: absolute;
width: 510px;
height: 510px;
left: 0px;
top: 0px;

}

.ellipseblack{
  position: absolute;
width: 390px;
height: 390px;
left: 60px;
top: 60px;

background-color: linear-gradient(43.12deg, #1A1A1A 16.36%, #141416 84.96%);
}
.ellipsehollow{
  position: absolute;
width: 304px;
height: 304px;
left: 103px;
top: 103px;

/* Main / Dark-gray */

/* border: 2px solid #222222;
box-sizing: border-box; */
}
.audit{
  position: static;
  height: 27px;
  left: 44px;
  right: 0px;
  top: 0px;
  
  /* Desktop / btn-2 */
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  
  
  /* Main / White */
  
  color: #FFFFFF;
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 20px;
}
.farm{
  position: static;
height: 27px;
left: 44px;
right: 0px;
top: 0px;

/* Desktop / btn-2 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / White */

color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin-left: 20px;
}
.etherscan{
  position: static;
height: 27px;
left: 44px;
right: 0px;
top: 0px;

/* Desktop / btn-2 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* Main / White */

color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin-left: 20px;
}
.auditicon{
  position: static;
width: 24px;
height: 24px;
left: 0px;
top: 1.5px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 20px 0px;
}
.farmicon{
  position: static;
width: 24px;
height: 24px;
left: 0px;
top: 1.5px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 20px 0px;
}
.ehterscanicon{
  position: static;
width: 24px;
height: 24px;
left: 0px;
top: 1.5px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 20px 0px;
}

.uniswap{
  position: absolute;
width: 203px;
height: 56px;
left: 120px;
top: 78px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 56px;
letter-spacing: -0.02em;
color: #FFFFFF;
}
@media Screen and (max-width:768px){
  .uniswap{
    position: absolute;
width: 186px;
height: 51px;
left: 210px;
top: -50px;

/* Tablet / H2 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 51px;
letter-spacing: -0.02em;
  }
}
@media screen and (max-width:375px){
  .uniswap{
    position: absolute;
width: 142px;
height: 39px;
left: 108px;
top: 0px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
letter-spacing: -0.02em;
  }
}
.lock{
  position: absolute;
width: 44px;
height: 44px;
left: 32px;
top: 32px;

}
.ethereum{
  position: absolute;
left: 32px;
right: 57.58%;
top: 13.33%;
bottom: 68.33%;
}
.write{
  position: absolute;
width: 44px;
height: 44px;
left: 32px;
top: 32px;
}
.lockliq{
  position: absolute;
width: 261px;
height: 34px;
left: 32px;
top: 90px;

/* Desktop / subtitle */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
/* identical to box height, or 162% */

letter-spacing: -0.5px;

/* Main / White */

color: #FFFFFF;
}
.lockdisc{
  position: absolute;
width: 270px;
height: 54px;
left: 32px;
top: 130px;

/* Desktop / P2 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* or 150% */


/* Main / Gray */

color: #9A9EA3;
}
.eth70{
  position: absolute;
width: 261px;
height: 34px;
left: 32px;
top: 90px;

/* Desktop / subtitle */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
/* identical to box height, or 162% */

letter-spacing: -0.5px;

/* Main / White */

color: #FFFFFF;
}
.ethdisc{
  position: absolute;
width: 270px;
height: 54px;
left: 32px;
top: 130px;

/* Desktop / P2 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* or 150% */


/* Main / Gray */

color: #9A9EA3;
}
.writeimm{
  position: absolute;
width: 261px;
height: 34px;
left: 32px;
top: 90px;

/* Desktop / subtitle */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
/* identical to box height, or 162% */

letter-spacing: -0.5px;

/* Main / White */

color: #FFFFFF;
}
.writedisc{
  position: absolute;
width: 270px;
height: 54px;
left: 32px;
top: 130px;

/* Desktop / P2 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* or 150% */


/* Main / Gray */

color: #9A9EA3;
}
.ellipsenft{
  position: absolute;
  width: 320px;
  height: 320px;
  left: 0px;
  top: 0px;
  
}
@media screen and (max-width:375px){
  .ellipsenft{
    position: absolute;
width: 221.59px;
height: 221.59px;
  }
}
.ellipsenftblack{
  position: absolute;
width: 201px;
height: 201px;
left: 195px;
top: 73px;
}
@media screen and (max-width:375px){
  .ellipsenftblack{
    position: absolute;
width: 139.19px;
height: 139.19px;
left: 150px;
  }
}
.ellipsenftpink{
  position: absolute;
width: 183px;
height: 183px;
left: 250px;
top: 175px;
}
@media screen and (max-width:375px){
  .ellipsenftpink{
    position: absolute;
width: 126.72px;
height: 126.72px;
left: 190px;
top: 140px;
  }
}
.choconfts{
  position: absolute;
width: 363px;
height: 56px;
left: 200px;
top: 165px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 56px;
letter-spacing: -0.02em;
color: #FFFFFF;
}
@media screen and (max-width:768px){
  .choconfts{
    position: absolute;
width: 331px;
height: 51px;
left: 56px;
top: 40px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 51px;
letter-spacing: -0.02em;
  }
}
@media screen and (max-width:375px){
  .choconfts{
    position: absolute;
width: 253px;
height: 39px;
left: 24px;
top: 40px;

/* Mobile / H2 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: -0.02em;
  }
}
.choconftdisc{
  position: absolute;
width: 582px;
height: 74px;
left: 200px;
top: 250px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 37px;
color: #9A9EA3;
}
@media screen and (max-width:768px){
  .choconftdisc{
    position: absolute;
width: 544px;
height: 74px;
left: 56px;
top: 135px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 37px;
  }
}
@media screen and (max-width:375px){
  .choconftdisc{
    position: absolute;
width: 303px;
height: 75px;
left: 24px;
top: 111px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
  }
}
.btn-sec{
  position: absolute;
width: 234px;
height: 71px;
left: 200px;
top: 398px;
}
@media screen and (max-width:768px){
  .btn-sec{
    position: absolute;
width: 234px;
height: 71px;
left: 56px;
top: 255px;

  }
}
@media screen and (max-width:375px){
  .btn-sec{
    position: absolute;
width: 234px;
height: 71px;
left: 24px;
top: 248px;
  }
}
.roadmap{
  position: absolute;
width: 227px;
height: 56px;
left: 120px;
top: 40px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 56px;
letter-spacing: -0.02em;
color: #FFFFFF;
}
@media screen and (max-width:768px){
  .roadmap{
    display: none;
  }
}
.january{
  position: absolute;
width: 269px;
height: 49px;
left: 329px;
top: 690px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
color: #FFFFFF;
}
@media screen and (max-width:768px){
  .january{
    position: absolute;
width: 250px;
height: 44px;
left: 259px;
top: 560px;

/* Tablet / H3 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
  }
}
@media screen and (max-width:375px){
  .january{
    position: absolute;
width: 250px;
height: 34px;
left: 670px;
top: 120px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 34px;
  }
}
.november{
  position: absolute;
width: 343px;
height: 49px;
left: 329px;
top: 440px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
color: #FFFFFF;
}
@media screen and (max-width:768px){
  .november{
    position: absolute;
width: 309px;
height: 44px;
left: 259px;
top: 325px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
  }
}
@media screen and (max-width:375px){
  .november{
    position: absolute;
width: 250px;
height: 34px;
left: 370px;
top: 120px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 34px;
  }
}
.september{
  position: absolute;
width: 357px;
height: 49px;
left: 329px;
top: 195px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
color: #FFFFFF;
}
@media screen and (max-width:768px){
  .september{
    position: absolute;
width: 321px;
height: 44px;
left: 259px;
top: 100px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
  }
}
@media screen and (max-width:375px){
  .september{
    position: absolute;
width: 250px;
height: 34px;
left: 36px;
top: 120px;

/* Mobile / H3 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 34px;

  }
}
@media screen and (max-width:375px){
  .group4line{
    height: 256px;
  }
  .group5line{
    height: 256px;
  }
}
.jandisc1{
  position: absolute;
width: 120px;
height: 34px;
left: 0px;
top: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
letter-spacing: -0.5px;
color: #9A9EA3;
}
.jandisc2{
  position: absolute;
width: 245px;
height: 34px;
left: 0px;
top: -10px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
letter-spacing: -0.5px;
color: #9A9EA3;
}
@media screen and (max-width:375px){
  .jandisc1{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.5px;
  }
  .jandisc2{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.5px;
  }
}
.novdisc1{
  position: absolute;
width: 190px;
height: 34px;
left: 0px;
top: -5px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
letter-spacing: -0.5px;
color: #9A9EA3;
}
.novdisc2{
  position: absolute;
width: 382px;
height: 34px;
left: 0px;
top: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
letter-spacing: -0.5px;
color: #9A9EA3;
}
.novdisc3{
  position: absolute;
width: 183px;
height: 34px;
left: 0px;
top: 45px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
letter-spacing: -0.5px;
color: #9A9EA3;
}
@media screen and (max-width:375px){
  .novdisc1{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.5px;
  }
  .novdisc2{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.5px;
  }
  .novdisc3{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.5px;
  }
}
.sepdisc1{
  position: absolute;
width: 270px;
height: 34px;
left: 0px;
top: -15px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 34px;
letter-spacing: -0.5px;
color: #9A9EA3;
}
@media screen and (max-width:375px){
  .sepdisc1{
    margin-top: 50px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.5px;
  }
.sepdisc2{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 34px;
color: #9A9EA3;
}
}
/* @media screen and (max-width:375px){
  .sepdisc2{
    margin-top: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 34px;
letter-spacing: -0.5px;
  }
} */
h1:hover{
  text-decoration: underline;
}
h1:active{
  text-decoration: underline;
}
.blurdot1{
  position: absolute;
width: 39px;
height: 39px;
left: 191px;
top: 840px;
}
.blurdot2{
  position: absolute;
width: 84px;
height: 84px;
left: 1222px;
top: 1558px;
}
@media screen and (max-width:768px){
  .blurdot2{
    left: 530px;
top: 1970px;
  }
}
.blurdot3{
  position: absolute;
width: 39px;
height: 39px;
left: 1135px;
top: 1826px;
}
@media screen and (max-width:768px){
  .blurdot3{
    display: none;
  }
}
.blurdot4{
  position: absolute;
width: 66px;
height: 66px;
left: 1316px;
top: 1912px;
}
@media screen and (max-width:768px){
  .blurdot4{
    left: 598px;
top: 2300px;
  }
}
.blurdot5{
  position: absolute;
  width: 66px;
  height: 66px;
  left: 1354px;
  top: 154px;
}
@media screen and (max-width:768px){
  .blurdot5{
    display: none;
  }
}
.blurdot6{
  position: absolute;
  width: 84px;
  height: 84px;
  left: 0px;
  top: 0px;
  
}
.blurdot7{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 1234px;
  top: 812px;
}
@media screen and (max-width:768px){
  .blurdot7{
    display: none;
  }
}
/* .menuicon{
  width:15px;
  height: 15px;
} */
.tokenheadham{
  position: static;
width: 89px;
height: 34px;
left: 143.5px;
top: 195px;
font-family: Montserrat;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}
.tokentext{
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 34px;
  color: #FFFFFF;
}
.uniswapheadham{
  position: static;
width: 142px;
height: 34px;
left: 0px;
padding: 24px;
/* text-align: center; */
top: 400px;
margin-top: 50px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;
}
.uniswaptext{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 34px;
  color: #FFFFFF;
}
.NFTsheadham{
  position: static;
width: 142px;
height: 34px;
left: 0px;
top: 24px;
padding: 24px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 24px;
}
.NFTstext{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 34px;
  color: #FFFFFF;
}
.roadmapheadham{
  position: static;
  padding: 24px;
width: 142px;
height: 34px;
left: 0px;
top: 24px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 24px;
}
.roadmaptext{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 34px;
  color: #FFFFFF;
}
.none{
  display: none;
}
.menucloseham{
  position: absolute;
left: 20.84%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;
}